.nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav .nav-link {
  margin-right: 10px;
}

.nav-item.logout {
  position: absolute;
  right: 5px;
}

body {
  min-width: 360px;
}

.row.record {
  border-left: 3px solid lightgray;
}

.pricing {
  padding-top: 5px;
}

.row.record:hover {
  border-left: 3px solid gray;
}

#loader {
  position: fixed;
  z-index:1111;
  width: 100%;
  height: 100%;
  background: white;
}
