.h1, h1 {
  margin-top: 10px;
  font-size: 34px;
}

.badge {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.badge i {
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px dotted white;
  cursor: pointer;
}

.h4, h4 {
  margin-top: 15px;
}

.h6, h6 {
  padding-top: 6px;
}

.currency-selector-text {
  padding-top: 3px;
}

.btn.focus, .btn:focus {
  box-shadow: none!important;
}

.dropdown {
  display: inline-block;
  position: relative;
  top: 1px;
  margin-bottom: -3px;
}

.dropdown-item {
  cursor: pointer;
}

#loader {
  position: fixed;
  z-index:1111;
  width: 100%;
  height: 100%;
  background: white;
}
